# VITE_SUPABASE_URL=https://qpzjdbthcmcihmejezos.supabase.co
# VITE_SUPABASE_ANON_KEY=anon_key
# VITE_API_BASE_URL=http://localhost:3000/api/v1
# VITE_FIREBASE_API_KEY=api_key
# VITE_FIREBASE_AUTH_DOMAIN=airier-ff7a0.firebaseapp.com
# VITE_FIREBASE_PROJECT_ID=airier-ff7a0
# VITE_FIREBASE_STORAGE_BUCKET=airier-ff7a0.firebasestorage.app
# VITE_FIREBASE_MESSAGING_SENDER_ID=1001569543833
# VITE_FIREBASE_APP_ID=1:1001569543833:web:b23d09afb548c15dddfa08
# VITE_FIREBASE_MEASUREMENT_ID=G-N3GV2K6TH8
# VITE_GOOGLE_MAPS_API_KEY=api_key